.bordered {
  border: 5px solid white;
  height: 700px;
  padding: 100px;
  margin: 50px;
}

.box {
  border: 5px solid white;
  text-align: center;
  margin: 10px;
}

.right-align {
  float: right;
}

.section-header {
  color: white;
  text-align: center;
}

.container-center {
  justify-items: end;
}

.pfp {
  border-radius: 100px;
  width: 128px;
  height: 128px;
}

.card {
  animation: jiggle linear infinite;
  animation-duration: 4s;

  &:hover {
    animation-play-state: paused;
  }
}

/* Keyframes */
@keyframes jiggle {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
